<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Cards</title>
    <link rel="stylesheet" type="text/css" href="mem.css">
</head>
<body>
    <div class="card-container">
        <div class="centered-heading">
            <h1>YOUR MEMORIES</h1>
        </div>
        <div class="card">
            <img src="memo3-a.png" alt="im1">
            
            <p></p>
            <a href="memo3-a.png" class="btn">View</a>
        </div>
       
        <div class="card">
            <img src="memo1-a.png" alt="im2">
            
            <p></p>
            <a href="memo1-a.png" class="btn">View</a>
        </div>
        
        <div class="card">
            <img src="memo2-a.png" alt="im3">
            
            <p></p>
            <a href="memo2-a.png" class="btn">View</a>
        </div>
        <div class="card">
            <img src="vid.png" alt="im4">
            
            <p></p>
            <a href="vid.png" class="btn">View</a>
        </div>
    </div>
</body>
</html>
